*{
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;

    margin-bottom: 50px;

}

nav a {
    text-decoration: none;
    color: black;
}


.cmncolor {
    color: #FF42A5;
}

.img {
    width: 60.041px;
    height: 30px;
}

.title {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rgt {
    font-size: 28px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon {
    padding: 10px 10px 0px 10px;
}

.box {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 10px 0px 10px;
  
}

.play-like {
    display: flex;
    justify-content: space-between;
    width: 901px;
    height: 700px;
    flex-shrink: 0;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.h3 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin: 0px 0px;
    text-transform: uppercase;


}

.h1 {
    text-align: center;
    font-size: 95px;
    margin: 0px 0px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play {
 
    width: 470px;
    height: 450px;
}

.gt {
    padding: 10px 10px 10px 10px;
}

#f {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#funny {
    
    font-size: 48px;
}

.funny {
    text-align: center;
}

.p {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.fun-im {
    width: 300px;
    height: 390px;
}

.play-inst {
    font-size: 48px;
    font-weight: 700;
    padding: 40px 10px 10px 40px;
    display: flex;
}

.pg {
    color: #534C64;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.anim {
    width: 300px;
    height: 350px;
}

.anim-2 {
    width: 170px;
    height: 200px
}

.btn {
    background-color: #e5e2eb;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    margin: 15px 5px 15px 5px;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

button:hover {
    border: 3px solid #FF42A5;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 9px 9px 10px 0px #F948B2;
    font-weight: 700;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background-color: #0B0223;
}

.ftr {
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-align: center;

}

.ftr-2 {
    color: white;
    font-size: 25px;
    display: inline-flex;
    padding: 20px 50px;
    align-items: flex-start;
    gap: 80px;
}

.sv {
    padding: 30px 50px;
    display: inline-flex;
    align-items: flex-start;
    gap: 250px;
}

.foot {
    display: inline-flex;
    padding: 30px 30px;
    align-items: flex-start;
    gap: 60px;
   
}

.ft {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 10px 60px 10px;
}



